/* colors */
:root {
  --brand-hue: 233;
  --color-bg: hsl(26, 76%, 94%);
  --color-logo: hsl(var(--brand-hue), 40%, 30%);
  --color-text: hsl(var(--brand-hue), 20%, 30%);
  --color-footer-bg: hsl(var(--brand-hue), 40%, 27%);
  --color-footer-text: hsl(var(--brand-hue), 100%, 98%);
  --color-link: hsl(var(--brand-hue), 20%, 30%);
  --color-button-bg: hsl(var(--brand-hue), 45%, 30%);
  --color-button-bg-hover: hsl(var(--brand-hue), 45%, 40%);
  --color-button-text: hsl(var(--brand-hue), 100%, 99%);
  --color-button-bg-secondary: hsl(var(--brand-hue), 70%, 86%);
  --color-button-bg-secondary-hover: hsl(var(--brand-hue), 73%, 83%);
  --color-button-text-secondary: hsl(var(--brand-hue), 20%, 30%);
}

/* Type */
:root {
  --font: "Montserrat", sans-serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--color-text);
  font-family: var(--font);
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 400;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin-block-start: 0px;
  margin-block-end: 1rem;
}

a {
  color: var(--color-link);
}

main p {
  margin-block-start: 0rem;
  margin-block-end: 2rem;
}

main p:last-of-type {
  margin-block-end: 0rem;
}

main p:first-of-type {
  margin-block-end: 2rem;
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1.2rem;
  }
}
.logo {
  width: 100px;
}

.logo-fill {
  fill: var(--color-logo);
}

a.button {
  background: var(--color-button-bg);
  color: var(--color-button-text);
  padding: 8px 16px;
  display: inline-block;
  margin: 0px 10px 10px 0px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
}

a.button:hover {
  background: var(--color-button-bg-hover);
}

a.button--secondary {
  background: var(--color-button-bg-secondary);
  color: var(--color-button-text-secondary);
}

a.button--secondary:hover {
  background: var(--color-button-bg-secondary-hover);
}

header {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  max-width: 1000px;
  margin: auto;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

nav > ul {
  display: flex;
  list-style-type: none;
  gap: 40px;
  padding-inline-start: 0px;
}

nav > ul > li > a {
  text-decoration: none;
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
  header {
    padding: 1.5rem;
  }
}
main {
  padding: 0rem 3rem 3rem 3rem;
  max-width: 1000px;
  margin: auto;
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
  main {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
  }
}
body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font);
  margin: 0px;
}

.gallery {
  display: grid;
  grid: auto/1fr 1fr;
  gap: 40px;
  margin: 3rem auto 0rem;
}

.gallery__photo img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
  .gallery {
    grid: auto/1fr;
    gap: 20px;
    margin: 1.5rem auto 0rem;
  }
}
footer {
  background: var(--color-footer-bg);
  padding: 3rem;
  margin: 50px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer p,
footer a {
  color: var(--color-footer-text);
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
  footer {
    padding: 1.5rem;
  }
}

/*# sourceMappingURL=byji.css.map */
